

html{
    background-color: #1d1e20;
}
.Outer{
    display: inline-block;
}

.ReviewCard
{
    display: flex;
    flex-direction: column;
    height: 19rem;
    width: 25rem;
    border-radius: 0.5rem;               /* rounded-lg */
    border: 1px solid #374151;           /* border and border-gray-700 */
    background-color: #1f2937;           /* bg-gray-800 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
    transition: all 0.3s;  
}
.ReviewCard:hover{
    border-color: #3b82f6;               /* hover:border-blue-500 */

}
.ProfInfo{
    display: flex;
}

.Profile{

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.Picture{
    height: 5rem;
    border-radius: 50%;
}

.Description{
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin: 1.5rem 1rem;
}

.Name{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-top: 0.5rem;
}

.Deparment{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #2dd4bf;

}
.Deparment:hover{
    background-color: #14b8a6; 

}

.Tags
{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 0.3rem;
    height: 6rem;
    overflow-y: auto;
    align-items: center;
}

.Tags::-webkit-scrollbar {
    width: 0.5rem;
}

.Tags::-webkit-scrollbar-track {
    background-color: #1f2937; 
    border-radius: 10px;
}



.Tags::-webkit-scrollbar-thumb {
    background-color: rgb(67, 119, 161); 
    border-radius: 10px; 
    border: 2px solid #1f2937; 
}

.Tags::-webkit-scrollbar-thumb:hover {
    background-color: rgb(47, 89, 131); 
}

.tags{
    background-color: rgb(67, 119, 161);

    padding: 0.1rem 0.4rem;
    font-size: 0.95rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;

}
.tags:hover{
    background-color: #3b82f6;

}
.Rating{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin: 0rem 1rem;
}
.SeeReviews{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.lucide-star {
    height: 2rem;
    width: 2rem;
    color: #facc15;       
    fill: currentColor;
}

.lucide{
    height:2rem;
    width: 2rem;
    color: #525252;
}


.btn-seeReviews{
    border: 2px solid rgb(96 165 250);
    background-color: #2dd4bf;
 
    padding: 0.8rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 2rem;
}

.btn-seeReviews:hover{
    background-color: #14b8a6;
}